@charset "utf-8";

/* 전체설정 */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}


#wrap{
    width: 90%;
    margin: 0 5%;
}

/* 헤더설정 */
h1{
    display: block;
    text-align: center;
    margin: 20px 0;
}
.nav{
    display: flex;
    flex-direction: row;
    background-color: gray;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content:start;
}
.nav li{
    margin-left: 100px;
}
.nav li a{
    color: black;
    font-weight: 600;
}