/* 언어설정 */
@charset "utf-8";

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
}

#wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow:row wrap; */
    width: 90%;
    /* 화면중앙에 배치 */
    /* margin: 0 5% 0 5%; */
    margin: 0 auto; 
}

/* 헤더설정 */
.header{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: flex-end;
}
.header>h1{
    background-color: #ff6b57;
    width: 12.5%;
    height: 142px;
    position: absolute;
    left: 0;
    top: 0;
}
.header>nav{
    background-color: #ff6b57;
    width: 87.25%;
    height: 80px;
}

/* 슬라이더영역 */
.slider_section{
    width: 50%;
    background-color: #3c90be;
    height: 440px;
}

/* 갤러리영역 */
.gallery_section{
    background-color: #f8de73;
    width: 27%;
}

/* 인기검색어영역 */
.rankup_section{
    background-color: #00d2a5;
    width: 23;
}

/* 최근글영역 */
.latest_post_section{
    width: 30%;
    background-color: #9cabe4;
    height: 0mm;
}

/* 인기글영역 */
.popular_post_section{
    width: 30%;
    background-color: #d76817;
}

/* 배너영역 */
.banner_section{
    width: 23%;
    display: flex;
    flex-direction: column;
}
.banner_section>div{
    flex: 1;
}

.banner_section{

}
.banner_box_01{

}
.banner_box_02{
    
}